:root {
    /*font sizes*/
    --small: 0.8rem;
    --medium: 1.2rem;
    --large: 1.4rem;
    --huge: 1.7rem;

    /*colors*/
    --deep-black: #0d101b;
    --purple-black: #281a2d;
    --wine-red: #6b2341;
    --warm-red: #af2747;
    --neon-red: #ee243d;
    --white: #F0EDE4;

    /*gradient*/
    --main-gradient: linear-gradient(to bottom, var(--deep-black), var(--purple-black));
}